<div id="<%= dom_id friend %>">
  <td>
    <%= link_to friend.first_name + ' ' + friend.last_name, friend, class: "link-info" %>
  </td>

  <td>
    <%= friend.email %>
  </td>

  <td>
    <%= friend.phone %>
  </td>

  <td>
    <%= friend.twitter %>
  </td>

  <td>
    <%= button_to "Destroy", friend, method: :delete, class: "btn btn-outline-danger btn-sm" %>
  </td>

</div>
